* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
    position: relative;
    margin-top: 60px;
}


/* Homepage */

.homepage {
    text-align: center;
    background-color: white;
    height: 85vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.homepage h1 {
    font-size: 3.3em;
    border-top: 5px solid lightgrey;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid lightgrey;
    padding: 10px;
}

.homepage>* {
    margin-top: 20px;
    margin-bottom: 20px;
}

.homepage button {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 20px 20px 40px 5px;
    cursor: pointer;
    border: 5px solid white;
}

.homepage a {
    font-size: 5em;
    color: white;
    text-decoration: none;
}

.homepage p {
    font-size: 2em;
}

.homepage button:hover {
    background-color: rgb(218, 218, 218);
    color: white;
    border: 5px solid black;
}

.homepage a:hover {
    color: black;
}


/* HEADER */

header {
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 7vh;
    border-bottom: 1px solid white;
}

.margin_menu {
    margin-right: 50px;
    margin-left: 50px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    padding: 3px;
    border: 3px solid black;
}

.nav a:hover {
    border-radius: 10px;
    border: 3px solid white;
}


/* PARTE DEI VESTITI - INDEX */

.lista_vestiti {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.lista_vestiti h1 {
    font-size: 3em;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 5px solid rgb(236, 232, 232);
    padding: 10px;
    border-radius: 10px;
}

.dress_card {
    width: 50%;
    text-align: center;
    border-top: 5px solid black;
    border-bottom: 5px solid lightgray;
    border-left: 5px solid lightgray;
    border-right: 5px solid black;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dress_card>* {
    padding: 5px;
    font-size: 1.5em;
}

.dress_card h2 {
    color: rgb(44, 90, 139);
    font-size: 2em;
    border-bottom: 5px solid rgb(61, 59, 59);
    width: 100%;
    vertical-align: middle;
}

.dress_card p {
    color: rgb(92, 91, 91);
}

.dress_card strong {
    color: black;
}

.lista_vestiti .insert_button {
    margin-bottom: 20px;
}

.insert_button {
    background-color: black;
    font-size: 2em;
    padding: 10px;
    cursor: pointer;
    border: 5px solid grey;
}

.inserta {
    color: white;
    text-decoration: none;
}

.insert_button:hover {
    background-color: rgb(236, 232, 232);
    border: 5px solid black;
}

.insert_button:hover .inserta {
    color: black;
}

.details {
    color: rgb(44, 73, 117);
    text-decoration: none;
    font-weight: bold;
    font-size: 2em;
}

.details:hover {
    color: rgb(119, 40, 194);
    text-decoration: underline;
}


/* CREATE */

.form_container {
    width: 100%;
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: rgb(99, 96, 96);
}

form:first-child {
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    border-top: 5px solid black;
    border-bottom: 5px solid lightgray;
    border-left: 5px solid lightgray;
    border-right: 5px solid black;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

form label {
    margin-right: 30px;
}

form input {
    width: 300px;
    height: 35px;
    vertical-align: middle;
    outline: none;
    border: 3px solid black;
    font-size: 0.6em;
    text-transform: capitalize;
}

form button {
    background-color: black;
    color: white;
    width: 30%;
    padding: 10px;
    font-size: 0.8em;
    border: 5px solid grey;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(236, 208, 208);
    color: black;
}

.delete {
    background-color: rgb(69, 127, 138);
    width: 250px;
    border-color: rgb(53, 20, 63);
    margin-top: 5px;
    margin-bottom: 15px;
}


/* FOOTER */

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.5em;
    display: flex;
    align-self: flex-end;
    justify-content: center;
    padding: 10px;
}